* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .for-media video {
    display: none;
  }
  .for-media {
    background: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59f17a21ae8a708059646146af380320&auto=format&fit=crop&w=500&q=60')
    no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
  }
  .for-media .view-container .header-content {
    margin: 0 0 0 0;
  }
}

@media only screen and (max-width: 980px) {

}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

.menu {
  /* z-index: 100; */
  position: absolute;
  border-left: none;
  width: 250px;
  top: 0;
  bottom: 0;
  /* visibility: hidden; */
}

.menu button {
  border-radius: 0;
  display: block;
  color: #ffffff;
  background-color: rgba(0,0,0,.5);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightGrey;
  border-top: none;
  width: 100%;
  /* height: 60px; */
  padding: 20px 0;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.menu button:hover {
  background: transparent;
  border-left: 5px solid royalBlue;
  /* padding: 15px 30px 15px 25px; */
  padding: 21px 0;
}

/*--*/
.view-container {
  overflow: auto;
  /* position: fixed; */
}

.container {
  /* max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto; */
  /* text-align:center; */
}

.v-header {
  /* position: relative; */
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.view-container .fullscreen-video-wrap  {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; */
}

.view-container .fullscreen-video-wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
  /*  */

}

.header-content {
  height: 100%;
  color: black;
  /* overflow: scroll; */
  /* margin-left: 250px; */
  /* padding: 50px; */
  width: 100%;
  /* padding: 3rem; */
  /* text-align: center; */
  /* padding: 80px 0;
  width: 100vw; */
}

.header-content h1, p {

}

.grid {
  display: grid;
  /* height: 300px; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.grid .card {
  width: 100%;
  /* height: 400px; */
}

/*--*/

ul {
  list-style: none;
}

/* tempthree */
ul.navbar-nav {
  /* border: 5px solid red; */
  display: flex;
   flex-direction: row;
   position: fixed;
   z-index: 103;
   /* overflow-y: scroll; */
   width: 100vw;
   left: 0;
   right: 0;
   background: transparent;
   color: gold;
}

ul li:nth-child(2) {
  margin-left: auto;
}

.bg1{
  /* background-image:url('../img/image1.jpg'); */
  min-height:100%;
}

.bg2{
  /* background-image:url('../img/image2.jpg'); */
  min-height:400px;
}

.bg3{
  /* background-image:url('../img/image3.jpg'); */
  min-height:400px;
}

.bg4 {
  /* background-image:url('../img/image3.jpg'); */
  min-height:400px;
}

.bg1, .bg2, .bg3, .bg4 {
    position: relative;
    /* opacity: 0.70; */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  }
/*  */

/* TempTwo styles */

.element {
	/* height: 840px; */
  /* height: 100vh; */
	/* background-color: #ededed; */
	font-size: 45px;
	border-top:1px solid #000;
	padding-top:55px;
	padding-left:10px;
  z-index: 1;
  /* border: 5px solid green; */
}

.active {
	color:red !important;
}

#scroll-container {
  /* margin-top: 99px; */
  height: 100vh;
/* overflow: visible!important; */
/* visibility: visible!important; */
  overflow: hidden;
}

.test {
  border: 5px solid blue;
}

.tile-container {
  border: 1px solid red;
  height: 50vh;
}

.tile {
  height: 100vh;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}
/* /TempTwo sty/es */
.item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

.owl-theme .owl-prev {
  color: black;
  background-color: black;
}

div.owl-prev {
  color: black;
  border: 1px solid red;
  background-color: black;
}

.owl-nav {
  width: 80vw;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* menu styles */
.menuTest {
  position: relative;
  /* left: 0; */
  /* right: 0; */
  /* border: 1px solid green; */
  font-size: 1.7rem;
}

.menuTest ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  color: gold;
  align-items: center;
  margin: 0;
  /* padding: 0; */
  /* width: 100vw; */
  /* left: 0;
  right: 0; */
  /* background: transparent; */
  /* transform: rotateX(90deg); */
  /* transition: all .5s; */
  /* max-height: 0; */
  /* overflow: hidden; */
}
.menuTest button {
  background: none;
  border: none;
  outline: none;
}

.menuTest button:focus {
  outline: none;
}

.menuTest button [aria-controls='menu-list'] .menu-list {
  border: 10px solid green;
}

.menuTest .contact-btn, .open {
  margin-right: 20px;
  /* padding-right: 20px; */
}

.menuTest .logo {
  margin-left: 20px;
}

[aria-expanded='true'] {
  /* display: grid; */
  /* max-width: 500px; */
}

[aria-expanded='true'] ~  .menu-list{
  /* display: block; */
  /* transform: rotateX(0); */
  /* border: 15px solid red; */
  position: absolute;
  /* width: 200px; */
  right: 0;
  /* border: 1px solid red; */
}

[aria-expanded='false'] ~  .menu-list {
  display: none;
  border: 1px solid blue;
}

/* [aria-expanded='false'] .close {
  display: none;
} */

[aria-expanded='true'] .close {
  /* display: inline-block ; */
}

[aria-expanded='true'] .open {
  /* display: none; */
}

/* .no-flick {
  -webkit-transform:translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border: 1px solid red;
} */
