* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .for-media video {
    display: none;
  }
  .for-media {
    background: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59f17a21ae8a708059646146af380320&auto=format&fit=crop&w=500&q=60')
    no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
  }
  .for-media .view-container .header-content {
    margin: 0 0 0 0;
  }
}

@media only screen and (max-width: 980px) {

}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

/* Header */
ul {
  list-style: none;
}

ul.navbar-nav {
  border: 5px solid red;
  display: flex;
   flex-direction: row;
   position: fixed;
   z-index: 103;
   width: 100vw;
   left: 0;
   right: 0;
   background: transparent;
   color: gold;
   overflow: auto;
}

ul li:nth-child(2) {
  margin-left: auto;
}

/* /Header */

/* Screen styling  */
.view-container {
  color: #fff;
  margin: 0 auto;
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.view-container .header-content .owl-theme{
  position: relative;
  border: 5px solid red;
  width: 1000px;
  display: none;
}

.v-header {
/* position: re */
  /* display: flex; */
  /* align-items: center; */
}

.view-container .fullscreen-video-wrap  {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; */
}

.view-container .fullscreen-video-wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
}

.header-content {
  /* height: 100%; */
  color: black;
  width: 100%;
  /* padding: 3rem; */
}

.header-content .about-profile-img {
  background-color: lightGrey;
  border-radius: 50%;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.header-content .about-profile-img img{
  border: 1px solid orange;
  /* height: 200px; */
  width: 100%;
}

/* ScreenThree */
.grid {
  display: grid;
  /* height: 300px; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.grid .card {
  width: 100%;
  /* height: 400px; */
}

/* TempTwo styles */

.element {
	height: 100%;
  opacity: .8;
	background-color: #ededed;
	border-top:1px solid #000;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.active {
	color:red !important;
}

#scroll-container {
  /* margin-top: 99px; */
  /* border: 10px solid red; */
  /* height: 100vh; */
 /* overflow: visible!important; */
 /* visibility: visible!important; */
  /* overflow: hidden; */
  height: 100%;
}

/* /TempTwo sty/es */

/* OwlCarousel styles */

.item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}

.owl-theme .owl-prev {
  color: black;
  background-color: black;
}

div.owl-prev {
  color: black;
  border: 1px solid red;
  background-color: black;
}

.owl-nav {
  /* width: 80vw; */
  position: absolute;
  bottom: 50px;
  display: flex;
  /* justify-content: space-between; */
  padding: 0 10px;
}

.owl-theme {
  /* border: 1px solid red;
  width: 200px;
  position: relative;
  left:0;
  right: 0; */
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end; */
}

/* /OwlCarousel styles */

.view-container .contact-container {
  width: 100%;
}

.view-container .contact-container #contact-form Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 2;
}

.view-container .contact-container #contact-form Form Input {
  width: 500px;
}

.view-container .contact-container #contact-form footer {
  color: black;
  text-align: center;
  margin-top: 3rem;
}

/* menu styles */
.menuTest {
  position: relative;
  font-size: 1.7rem;
}

.menuTest ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  color: gold;
  align-items: center;
  margin: 0;
}

.menuTest button {
  background: none;
  border: none;
  outline: none;
}

.menuTest button:focus {
  outline: none;
}

.menuTest button [aria-controls='menu-list'] .menu-list {
  border: 10px solid green;
}

.menuTest .contact-btn, .open {
  margin-right: 20px;
  /* padding-right: 20px; */
}

.menuTest .logo {
  margin-left: 20px;
}

[aria-expanded='true'] {
  /* display: grid; */
  /* max-width: 500px; */
}

[aria-expanded='true'] ~  .menu-list{
  /* display: block; */
  /* transform: rotateX(0); */
  /* border: 15px solid red; */
  position: absolute;
  /* width: 200px; */
  right: 0;
  /* border: 1px solid red; */
}

[aria-expanded='false'] ~  .menu-list {
  display: none;
  border: 1px solid blue;
}

/* [aria-expanded='false'] .close {
  display: none;
} */

[aria-expanded='true'] .close {
  /* display: inline-block ; */
}

[aria-expanded='true'] .open {
  /* display: none; */
}

/* .no-flick {
  -webkit-transform:translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border: 1px solid red;
} */
