
.background-video{
    z-index: 1;
    position: fixed;
    /* bottom: 0;
    left: 0; */
    min-height: 100%;
    min-width: 100%;
    padding: none;
}

button {
    border-radius: 0;
    z-index: 3;
    left: 0;
    display: block;
    background-color: #6b579d;
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 250px;
    height: 60px;
}

.Menu {
    background-color: #6b579d;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    border-left: none;
}
